<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rocket - Cafe And Restaurant</title>
  <link rel="icon" href="rocket/menu-assets/img/fav-icon.png">
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<!-- aos -->
  <link rel="stylesheet" href="rocket/menu-assets/css/aos.css">
  <!-- style -->
  <link rel="stylesheet" href="rocket/menu-assets/css/menu-style.css">
  <!-- responsive -->
  <link rel="stylesheet" href="rocket/menu-assets/css/menu-responsive.css">
	<!-- color -->
  <link rel="stylesheet" href="rocket/menu-assets/css/color.css">

  <link rel="stylesheet" href="rocket/style/order.css">

	<!-- Font Awesome 5 -->
	<script src="https://kit.fontawesome.com/27a041baf1.js" crossorigin="anonymous"></script>

	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TZFC6NF1QD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TZFC6NF1QD');
</script>

</head>
<body class="menu-layer">
	<!-- loader start-->
	<div class="page-loader">
		<div class="wrapper">
	        <div class="circle"></div>
	        <div class="circle"></div>
	        <div class="circle"></div>
	        <div class="shadow"></div>
	        <div class="shadow"></div>
	        <div class="shadow"></div>
	        <span>Loading</span>
	    </div>
	</div>
	<!-- loader end-->

	<!-- hero-section -->
	<section class="hero-section about gap" style="background-image: url(rocket/menu-assets/img/background-1.png);">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6" data-aos="fade-up"  data-aos-delay="300" data-aos-duration="400">
					<div class="about-text">
						<div class="logo-detail" style="align-items: center;">
							<img alt="logo" src="..\..\rocket\images\logos\Rocket.jpg">
							<h2>Rocket Cafe</h2>
						</div>
						<div class="rate">
							<span>Rate:</span>
								<div class="star">
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-regular fa-star-half-stroke"></i>
								</div>
								<span>CUISINES:</span>
								<div class="cafa-button">
										<a href="#">drinks</a>
										<a href="#">burger</a>
										<a href="#">pasta</a>
										<a href="#">syrian food</a>
										<a href="#">chicken</a>
								</div>
								<span>FEATURES:</span>
								<p>Welcome at Rocket Cafe Where Flavor Soars: here you will find our food menu</p>
						</div>
						
					</div>
				</div>
				<div class="col-lg-6" data-aos="fade-up"  data-aos-delay="400" data-aos-duration="500">
					<div class="about-img">
						<img alt="man" src="rocket\images\ui images\cafe2.png" style="object-fit: cover; object-position: center;">
						<div class="hours">
							<i class="fa-regular fa-clock"></i>
							<h4>9am – 12pm<br><span>Hours</span></h4>
						</div>
						<div class="hours two">
							<i class="fa-solid fa-utensils"></i>
							<h4>Breakfast, Lunch, Dinner<br><span>Meals</span></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- tabs -->
	<section class="tabs gap">

      <div class="container">

      <div class="tabs-img-back">

      <div class="row">

           <div class="col-lg-12">

               <div class="Provides" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
                 

				<section class="categories">
					<h1 class="headline">Category</h1>
					<div class="categories-lst">
						<button class="active">
							<svg width="45" height="45" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M12 3.06982L4 9.06982V21.0698H20V9.06982L12 3.06982ZM12.5 12.5698C12.5 13.3998 11.83 14.0698 11 14.0698V18.0698H10V14.0698C9.17 14.0698 8.5 13.3998 8.5 12.5698V9.56982H9.5V12.5698H10V9.56982H11V12.5698H11.5V9.56982H12.5V12.5698ZM15 18.0698H14V14.5698H13V11.5698C13 10.4698 13.9 9.56982 15 9.56982V18.0698Z" fill="#1782FF"/>
							</svg>
							<h6 class="h4">All</h6>
						</button>
						<button category="Foods">
							<svg width="34" height="35" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4 16.5698V8.06982H3V7.06982H4V6.06982H3V5.06982H4V4.06982H3V3.06982H9C9.5 3.09982 9.95 3.30982 10.34 3.69982C10.73 4.08982 10.95 4.56982 11 5.06982H21V6.06982H11C10.95 6.59982 10.73 7.06982 10.34 7.49982C9.95 7.92982 9.5 8.11982 9 8.06982H7V15.1198C7.05 15.1198 7.13 15.1098 7.24 15.0698C7.35 15.0298 7.44 15.0698 7.5 15.0698C8.06 15.0698 8.7 15.2098 9.42 15.4898C9.83 14.5698 10.53 13.7498 11.53 13.0698C12.53 12.3898 13.53 12.0698 14.53 12.0698C16.06 12.0698 17.36 12.5998 18.42 13.6598C19.48 14.7198 20 16.0198 20 17.5698V17.8398C20 17.9698 19.97 18.0398 19.97 18.0698H3.14C3.27 17.5698 3.55 17.0698 4 16.5698ZM6 15.2998V8.06982H5V15.7698C5.5 15.5198 5.81 15.3698 6 15.2998ZM9 7.06982V6.06982H7V7.06982H9ZM9 4.06982H7V5.06982H9V4.06982ZM5 4.06982V5.06982H6V4.06982H5ZM5 6.06982V7.06982H6V6.06982H5ZM2 19.0698H22L20 21.0698H4L2 19.0698Z" fill="#B4B4B4"/>
							</svg>
							<h6 class="h4">Foods</h6>
						</button>
						<button category="Desserts">
							<svg width="34" height="35" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3 9.81988V8.69488C2.99996 8.20276 3.10754 7.71659 3.31521 7.27043C3.52287 6.82427 3.82559 6.42892 4.20216 6.11209C4.57872 5.79526 5.02002 5.56462 5.49512 5.43632C5.97023 5.30802 6.46764 5.28518 6.9525 5.36938C7.26809 4.27453 7.9311 3.31197 8.84157 2.62687C9.75203 1.94177 10.8606 1.57129 12 1.57129C13.1394 1.57129 14.248 1.94177 15.1584 2.62687C16.0689 3.31197 16.7319 4.27453 17.0475 5.36938C17.5324 5.28518 18.0298 5.30802 18.5049 5.43632C18.98 5.56462 19.4213 5.79526 19.7978 6.11209C20.1744 6.42892 20.4771 6.82427 20.6848 7.27043C20.8925 7.71659 21 8.20276 21 8.69488V9.81988C21.0003 12.0772 20.1524 14.2523 18.6243 15.9137C17.0962 17.5752 14.9995 18.6018 12.75 18.7899V21.0699H11.25V18.7899C9.00051 18.6018 6.90384 17.5752 5.37574 15.9137C3.84763 14.2523 2.99967 12.0772 3 9.81988ZM9.729 9.06838H14.271C14.2043 8.47402 14.297 7.87263 14.5395 7.32591C14.782 6.7792 15.1656 6.30686 15.651 5.95738C15.4567 5.13503 14.9905 4.40234 14.3279 3.87801C13.6652 3.35368 12.845 3.06841 12 3.06841C11.155 3.06841 10.3348 3.35368 9.67213 3.87801C9.00949 4.40234 8.54328 5.13503 8.349 5.95738C8.8346 6.30699 9.21837 6.77957 9.4609 7.32658C9.70342 7.87358 9.79596 8.47528 9.729 9.06988V9.06838ZM8.0205 9.06838C8.07612 8.82146 8.07549 8.56519 8.01864 8.31855C7.96179 8.0719 7.85019 7.8412 7.6921 7.64354C7.534 7.44587 7.33347 7.2863 7.10535 7.17665C6.87723 7.06699 6.62736 7.01005 6.37425 7.01005C6.12114 7.01005 5.87127 7.06699 5.64315 7.17665C5.41503 7.2863 5.2145 7.44587 5.0564 7.64354C4.89831 7.8412 4.78671 8.0719 4.72986 8.31855C4.67301 8.56519 4.67238 8.82146 4.728 9.06838H8.0205ZM15.9795 9.06838H19.2705C19.3261 8.82146 19.3255 8.56519 19.2686 8.31855C19.2118 8.0719 19.1002 7.8412 18.9421 7.64354C18.784 7.44587 18.5835 7.2863 18.3554 7.17665C18.1272 7.06699 17.8774 7.01005 17.6243 7.01005C17.3711 7.01005 17.1213 7.06699 16.8932 7.17665C16.665 7.2863 16.4645 7.44587 16.3064 7.64354C16.1483 7.8412 16.0367 8.0719 15.9799 8.31855C15.923 8.56519 15.9224 8.82146 15.978 9.06838H15.9795ZM12 17.3199C13.8595 17.3199 15.6527 16.6291 17.0317 15.3815C18.4106 14.134 19.2769 12.4186 19.4625 10.5684H4.5375C4.72308 12.4186 5.58939 14.134 6.96832 15.3815C8.34726 16.6291 10.1405 17.3199 12 17.3199ZM9 21.0714H15C15.1989 21.0714 15.3897 21.1504 15.5303 21.2911C15.671 21.4317 15.75 21.6225 15.75 21.8214C15.75 22.0203 15.671 22.2111 15.5303 22.3517C15.3897 22.4924 15.1989 22.5714 15 22.5714H9C8.80109 22.5714 8.61032 22.4924 8.46967 22.3517C8.32902 22.2111 8.25 22.0203 8.25 21.8214C8.25 21.6225 8.32902 21.4317 8.46967 21.2911C8.61032 21.1504 8.80109 21.0714 9 21.0714Z" fill="#B4B4B4"/>
								</svg>
	
							<h6 class="h4">Desserts</h6>
						</button>
						<button category="Drinks">
							<svg width="34" height="35" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M14.48 1.06982H20V3.06982H15.98L15.33 5.29182H20.07L18.858 23.0698H6.217L5.347 10.3478C3.475 9.93282 2 8.30882 2 6.29182C2 3.97182 3.914 2.12582 6.231 2.12582C8.204 2.12582 9.884 3.46282 10.341 5.29182H13.245L14.481 1.06982H14.48ZM12.66 7.29182H7.145L7.381 10.7738L11.448 11.4348L12.66 7.29182ZM11.996 13.5498L7.521 12.8228L8.085 21.0698H16.989L17.44 14.4538L12 13.5508H11.997L11.996 13.5498ZM17.577 12.4498L17.929 7.29182H14.744L13.436 11.7618L17.577 12.4488V12.4498ZM8.211 5.29082C8.01753 4.93535 7.73114 4.63911 7.3824 4.43374C7.03367 4.22838 6.6357 4.1216 6.231 4.12482C4.98 4.12582 4 5.11482 4 6.29182C4 7.08882 4.48 7.81482 5.201 8.18782L5.004 5.29182L8.211 5.29082Z" fill="#B4B4B4"/>
								</svg>
	
							<h6 class="h4">Drinks</h6>
						</button>
	
					</div>
					<div class="sub categories-lst" style="display: flex; margin: 20px 0;"></div>
				</section>

               <div class="like-meal">
               	<a href="#"><i class="fa-solid fa-heart"></i>Where Flavor Soars !</a>
               </div>

              </div>

             </div>

           <div class="col-lg-12">
             
               <div class="tab-content" id="v-pills-tabContent" >

                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                 <div class="row">
					<% dishes.forEach(dish => { %>
                 	<div class="col-xl-4 col-lg-6" data-aos="flip-up"  data-aos-delay="200" data-aos-duration="300">
                		<div class="dish menu-element" data-category="<%= dish.cat %>" data-subcategory="<%= dish.subcat %>">
                 			<img alt="food-dish" src="<%= dish.thumbnail %>" style="width: 100%;">
                 			<div class="dish-foods">
                 				<h3><%= dish.name %></h3>
 										<div class="dish-icon">
											<div class="cafa-button">
													<a href="#"><%= dish.cat %></a>
													<a href="#"><%= dish.subcat %></a>
											 </div>
											 <div class="dish-icon end">

											 	<div class="star">
											 		<a href="#"><i class="fa-solid fa-heart"></i></a>
											 	</div>
											 </div>
					              	</div>
					              	<div class="price">
					              		<h2><%= dish.price %> LE</h2>
										</div>
	                 			</div>
							</div>

				</div>
				<% }) %>
                 </div>

                 </div>

              </div>
            
              </div>

        </div>        

      </div>

     </div>

   </section>
	<!-- footer -->
	<footer class="gap no-bottom" style="background-color: #363636;">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-12">
					<div class="footer-description">
						<h2>Rocket Cafe</h2>
						<p>Where the Flavor Soars</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="menu contacts">
						<h4>Contacts</h4>
						<div class="footer-location">
							<i class="fa-solid fa-location-dot"></i>
							<p>محمود رشوان - امام المعهد الديني, اسيوط, مصر</p>
						</div>
						<a href="mailto:baron.rocket1@gmail.com"><i class="fa-solid fa-envelope"></i>baron.rocket1@gmail.com</a>
						<a href="callto:+201099493568"><i class="fa-solid fa-phone"></i>01099493568</a>
					</div>
					<ul class="social-media">
							<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
						</ul>
				</div>
			</div>
			<div class="footer-two gap no-bottom">
				<p>Copyright © 2023. Rocket Cafe. All rights reserved.</p>

			</div>
		</div>
	</footer>
	<!-- bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<!-- jQuery -->
	<script src="rocket/menu-assets/js/jquery-3.6.0.min.js"></script>
	<!-- aos -->
  <script src="rocket/menu-assets/js/aos.js"></script>
	<!-- custom -->
	<script src="rocket/menu-assets/js/custom.js"></script>	

    <script src="rocket/scripts/main.js"></script>

</body>